<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ul class="nav child_menu" th:fragment="menuTree(nextIter)">
        <li class="sub_menu" th:each="child : ${nextIter}">
            <a th:if="${not #lists.isEmpty(child.children)}" href="#"><span th:text="${child.name}"></span><span class="fa fa-chevron-down"></span></a>
            <a th:if="${#lists.isEmpty(child.children)}" th:href="@{${child.url}}"><span th:text="${child.name}"></span></a>
            <ul th:unless="${#lists.isEmpty(child.children)}" th:replace="this::menuTree(nextIter=${child.children})"></ul>
        </li>
    </ul>
</body>
</html>