<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoulder.mapper.PermissionMapper">
    <select id="findByUserName">
        SELECT name FROM permission WHERE id IN (
            SELECT pid FROM (
                SELECT rp.rid,rp.pid,ru.uid FROM (
                    SELECT rid,pid FROM role
                    LEFT JOIN role_permission ON role.id = role_permission.rid) rp
                    LEFT JOIN (SELECT rid,uid FROM user LEFT JOIN user_role ON user.id = user_role.uid) ru ON rp.rid = ru.rid) u
                    WHERE u.uid = (SELECT id from user WHERE user.username =#{username}))
    </select>
</mapper>