<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoulder.mapper.RoleMapper">
    <select id="findRole" parameterType="String" resultType="Role">
        SELECT r.* FROM user u
        LEFT JOIN user_role ur ON u.id=ur.uid
        LEFT JOIN role r ON r.id=ur.rid
        WHERE u.username=#{username}
    </select>

    <insert id="addEntity" parameterType="com.shoulder.model.Role" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO role (name, description) VALUES(#{name},#{description})
    </insert>

    <update id="updateEntity" parameterType="com.shoulder.model.Role" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        UPDATE role SET name=#{name}, description=#{description} WHERE id=#{id}
    </update>
</mapper>