<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoulder.mapper.UserDeptMapper">
    <insert id="addUserDept" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO user_dept (uid, dept_id) VALUES(#{uid},#{deptId})
    </insert>
</mapper>